:root {
}
body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}
.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}
.logo:hover {
  color: #4d5ae5;
}
.link {
  text-decoration: none;
  color: #2e2f42;
}
.list {
  list-style: none;
}

.li-header-first {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #2e2f42;
}
a.hover-menu-fst:hover {
  color: #404bbf;
}
a.hover-menu-fst:focus {
  color: #404bbf;
}
.address-header {
  font-style: normal;
}
.hover-menu-sec {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
a.hover-menu-sec:hover {
  color: #404bbf;
}
a.hover-menu-sec:focus {
  color: #404bbf;
}
